<!DOCTYPE html>

<html>
  <head>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type = "text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="static/styles/style.css">
    <script type="text/javascript" src="static/main.js">
    <script>

         //---- alert on ETR values update button ---
          

    </script>
    
   <style>
       
    </style>

  </head>
  <body>
  	<div class="mainHead">
        <div class="head">
          <span>GIS ChatBot</span>
        </div>
     </div> 
<div class="chat">
  <div class="main">
      <div class="txt-divRes">
        <p id="response"></p>
    </div>  
  </div>
</div>
<div class="send">
  <!--<input type="input" class="txt1 form-cotrol">-->
  <textarea class="form-control txt1" rows="3" id="question"></textarea>  
  
  <!--<input type="button" class="btn btn1" value="SEND" onclick="sender()">-->
  <input type="button" class="btn btn1" id="submit-button" value="SEND">
</div>

   
</body>

<script>

      jQuery(document).ready(function() {

        $("#submit-button").click(function(e) {
          e.preventDefault();


          $.ajax({
              type: "POST",
              url: "/chatbot",
              data: {
                  question: $("#question").val()
              },
              success: function(result) {
                <!-- $("#response").append("<br>Me: "+$("#question").val()+ "<br> GISbot: "+result.response);-->                
                
                <!-- $("#response").append('<div class="txt-div"><div class="txt msg">'+$("#question").val()+ '<br><div class="txt-div2" ><div class="txt2 msg">'+result.response);-->
                
  $("#response").append('<div class="txt-div"><div class="txt msg">'+ $("#question").val()+'</div><div class="time">'+new Date().toLocaleTimeString()+'</div></div>'+'<div class="txt-div2"><div class="txt2 msg">'+result.response+'</div><div class="time2">'+new Date().toLocaleTimeString()+'</div></div>');
                
                $("#question").val("")

              },
              error: function(result) {
                  alert('error');
              }
          });



        });

      });


    </script>


  
</html>






